<%= render 'layouts/header' %>

<h2>マイページ編集</h2>

<%= image_tag @user.image, class:"icon_image" %><br />

<%= @user.grade %>年生

<% if @user.sex == 0 %>
  <p>男性</p>
<% elsif @user.sex == 1 %>
  <p>女性</p>
<% elsif @user.sex == 2 %>
  <p>その他</p>
<% else %>
  <p>未回答</p>
<% end %>

<%= @user.faculty %> <%= @user.department %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :ニックネーム %><br />
    <%= f.text_field :nickname, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :プロフィール画像 %><br/>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :趣味 %><br />
    <%= f.collection_check_boxes(:hobby_ids, Hobby.all, :id, :hobbyname) do |b| %>
      <%= b.label { b.check_box + b.text } %><br />
    <% end %>
  </div>

  <div class="field">
    <%= f.label :友達が欲しい授業 %><br />
    <%= f.text_field :commonclass1, autofocus: true, placeholder: "正確に入力してください。" %><br />
    <%= f.text_field :commonclass2, autofocus: true, placeholder: "正確に入力してください。" %><br />
    <%= f.text_field :commonclass3, autofocus: true, placeholder: "正確に入力してください。" %><br />
    <%= f.text_field :commonclass4, autofocus: true, placeholder: "正確に入力してください。" %><br />
    <%= f.text_field :commonclass5, autofocus: true, placeholder: "正確に入力してください。" %><br />
  </div>

  <div class="actions">
    <%= f.submit "プロフィール変更" %>
  </div>
<% end %>

<%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>

<%= link_to "Back", :back %>
