<h2>新規登録2</h2>

<%= form_for(@user, as: :user, url: step3_signup_index_path, method: :get) do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>

  <div class="field">
    <%= f.label :大学のメールアドレス %><br />
    <%= f.text_field :email_account, autofocus: true, autocomplete: "email" %><%= session[:domain] %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <span>(6文字以上)</span><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード(確認用) %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "次へ" %>
  </div>

<% end %>
