<h2>新規登録1</h2>

<%= form_for(@user, as: :user, url: step2_signup_index_path, method: :get) do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>

  <div class="field">
    <%= f.label :あなたの大学を教えてください %><br />
    <%= f.select :university_id, { '大阪大学': 1, '関西大学': 2, '神戸大学': 3 }, include_blank: '選択してください' %>
  </div>

  <div class="actions">
    <%= f.submit "次へ" %>
  </div>

<% end %>
