<div class="signup-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="sub-title signup-sub-title">
          <p>共通点で友達をつくる<br>阪大生専用サービス</p>
        </div>

        <div class="name-for-signup">
          <p class="pseudonym-for-signup">ウィフレ</p>
          <p class="service-name-for-signup">WIFRE</p>
        </div>

        <div class="signup-phase">
          <h1>新規登録1/3</h1>
        </div>

        <%= form_for(@user, as: :user, url: step2_signup_index_path, method: :get, html: { class: 'form-group' }) do |f| %>
          <%= render "devise/shared/error_messages", resource: @user %>
          <div class="row">
            <div class="col-xs-12">
              <%= f.label :あなたの大学を教えてください, class: 'university-label' %><br />
              <%= f.select :university_id, { '大阪大学': 1 }, { include_blank: '選択してください' }, { class: 'form-control' } %>
            </div>

            <div class="col-xs-12">
              <%= f.submit "次へ", class: 'button next' %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
