<div class="common-phase-wrapper">
  <div class="container">
    <div class="row">
      <div class="common-phase-title">
        <div class="col-xs-12">
          <h1>プロフィール設定</h1>
          <p>※後で変更できます。</p>
        </div>
      </div>

      <%= form_for(@user, url: commonphasesecond_users_path, method: :post, html: { class: 'form-group' }) do |f| %>
      <div class="col-xs-12">
        <%= f.label :受けている授業（5つまで）, class: 'class-label' %><br />
        <%= f.text_field :commonclass1, autofocus: true, placeholder: "正確に入力してください", class: 'form-control commonclass-form-control' %><br />
        <%= f.text_field :commonclass2, autofocus: true, placeholder: "正確に入力してください", class: 'form-control commonclass-form-control' %><br />
        <%= f.text_field :commonclass3, autofocus: true, placeholder: "正確に入力してください", class: 'form-control commonclass-form-control' %><br />
        <%= f.text_field :commonclass4, autofocus: true, placeholder: "正確に入力してください", class: 'form-control commonclass-form-control' %><br />
        <%= f.text_field :commonclass5, autofocus: true, placeholder: "正確に入力してください", class: 'form-control commonclass-form-control' %><br />
      </div>

      <div class="col-xs-12">
        <%= f.submit "次へ", class: 'button next' %>
      </div>

      <% end %>
    </div>
  </div>
</div>
