<%= render 'layouts/header' %>

<div class="container">
  <div class="row">
    <div class="other-content">
      <h1 class="other-label">アカウント</h1>
      <%= link_to 'マイページ', current_user %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <%= link_to "アカウントを削除する", registration_path(current_user),
      data: { confirm: "本当に削除してよろしいですか？" }, method: :delete %>
    </div>

    <div class="other-content">
      <h1 class="other-label">サービス情報</h1>
      <%= link_to '利用規約', kiyaku_path, target: :_blank, rel: "noopener noreferrer" %>
      <%= link_to 'プライバシーポリシー', privacy_path, target: :_blank, rel: "noopener noreferrer" %>
    </div>
  </div>
</div>
