<%= render 'layouts/header' %>

<div class="container">
  <div class="row">
    <div class="show-top">
      <div class="col-xs-4">
        <div class="back-button">
          <%= link_to "＜戻る", :back %>
        </div>
      </div>

      <div class="col-xs-8">
          <span id="user_<%= @user.id %>" class="follow-wrapper">
            <%= render 'follow_form', user: @user if signed_in? %>
          </span>
          <% if current_user.id == @user.id %>
            <%= link_to '編集する', edit_user_registration_path(@user.id), class: 'friend-button friend-button-a' %>
          <% end %>
      </div>
    </div>

    <div class="show-user">
      <div class="row">
        <div class="col-xs-5">
          <div class="show-image">
            <%= image_tag @user.image.url %><br />
          </div>
        </div>
        <div class="col-xs-6 col-xs-offset-1">
          <h1 class="show-nickname"><%= @user.nickname %></h1>
          <div class="show-grade">
            <%= @user.grade %><span>年生</span>
          </div>
          <div class="show-sex">
            <% if @user.sex == 0 %>
              <p>男性</p>
            <% elsif @user.sex == 1 %>
              <p>女性</p>
            <% elsif @user.sex == 2 %>
              <p>その他</p>
            <% else %>
              <p></p>
            <% end %>
          </div>
        </div>

        <div class="show-belonging-to col-xs-12">
          <%= @user.faculty %><span>学部 </span><%= @user.department %><br />
        </div>

        <div class="show-user-info col-xs-12">
          <label for="birth_place" class="show-label">出身地</label><br />
          <p class="show-value"><%= @user.birth_place %></p>
        </div>

        <div class="show-user-info col-xs-12">
          <label for="user_hobby" class="show-label">趣味</label><br />
          <% @userhobbies.each do |userhobby| %>
            <% hobby = Hobby.find(userhobby.hobby_id) %>
            <p class="show-value"><%= hobby.hobbyname %></p>
          <% end %>
        </div>

        <div class="show-user-info col-xs-12">
          <label for="commonclass" class="show-label">友達が欲しい授業</label><br />
          <% if !@user.commonclass1.nil? %>
            <p class="show-value"><%= @user.commonclass1 %></p>
          <% end %>

          <% if !@user.commonclass2.nil? %>
            <p class="show-value"><%= @user.commonclass2 %></p>
          <% end %>

          <% if !@user.commonclass3.nil? %>
            <p class="show-value"><%= @user.commonclass3 %></p>
          <% end %>

          <% if !@user.commonclass4.nil? %>
            <p class="show-value"><%= @user.commonclass4 %></p>
          <% end %>

          <% if !@user.commonclass5.nil? %>
            <p class="show-value"><%= @user.commonclass5 %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
