<div class="login-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="sub-title signup-sub-title">
          <p>共通点で友達をつくる<br>大学生専用サービス</p>
        </div>

        <div class="name-for-signup">
          <p class="pseudonym-for-signup">ウィフレ</p>
          <p class="service-name-for-signup">WIFRE</p>
        </div>

        <div class="login-title">
          <h1>LOGIN</h1>
        </div>

        <p class="alert"><%= alert %></p>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row">
          <div class="col-xs-12">
            <%= f.label :大学メールアドレス, class: 'email-label' %><br />
            <%= f.email_field :email, { autofocus: true, autocomplete: "email", class: 'form-control' } %>
          </div>

          <div class="col-xs-12">
            <%= f.label :パスワード, class: 'password-label' %><br />
            <%= f.password_field :password, { autocomplete: "current-password", class: 'form-control' } %>
          </div>

          <div class="col-xs-12">
            <% if devise_mapping.rememberable? %>
                <%= f.check_box :remember_me, class: 'remember-me-check-box' %>
                <%= f.label :remember_me, class: 'remember-me-label' %>
            <% end %>
          </div>

          <div class="col-xs-12">
            <%= f.submit "LOGIN", class: 'button next', id: 'login-button' %>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
