<div class="after-signin-header">
  <div class="menu">
    <div class="col-xs-3">
      <% if current_page?(users_path) %>
        <%= link_to users_path do %>
          <img src="/assets/index.color.png">
        <% end %>
      <% else %>
        <%= link_to users_path do %>
          <img src="/assets/index.png">
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="menu">
    <div class="col-xs-3">
      <% if current_page?(rooms_path) %>
        <%= link_to rooms_path do %>
          <img src="/assets/message_room.color.png">
        <% end %>
      <% else %>
        <%= link_to rooms_path do %>
          <img src="/assets/message_room.png">
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="menu">
    <div class="col-xs-3">
      <% if current_page?(edit_user_registration_path) %>
        <%= link_to edit_user_registration_path do %>
          <img src="/assets/mypage.color.png">
        <% end %>
      <% else %>
        <%= link_to edit_user_registration_path do %>
          <img src="/assets/mypage.png">
          <% end %>
      <% end %>
    </div>
  </div>

  <div class="menu">
    <div class="col-xs-3">
      <%= link_to other_path do %>
        <img src="/assets/settings.png">
      <% end %>
    </div>
  </div>
</div>
