<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>WIFRE(ウィフレ)</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Language" content="ja">
    <meta name="google" content="notranslate">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
            <p class="notice"><%= notice %></p>
        </div>

        <div class="col-xs-12">
            <p class="alert"><%= alert %></p>
        </div>
      </div>
    </div>


    <%= yield %>

  </body>
</html>
